# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [29]:
!pip install sqlalchemy==1.4.16 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [30]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [31]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios).
nombreBD = 'jesuscies'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@35.180.211.139/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [32]:
if not database_exists(engine.url):
    create_database(engine.url)

In [ ]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().
df.to_sql('SPACEXTBL',engine)

In [ ]:
query = "select * from SPACEXTBL;"
df  = pd.read_sql(query,  engine )
df

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
#Rellena la variable query con tu consulta
query = """ SELECT DISTINCT (LaunchSite) FROM SPACEXTBL """
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [43]:
#Rellena la variable query con tu consulta
query = """ SELECT * FROM SPACEXTBL WHERE LaunchSite LIKE 'CCS%' LIMIT 5 """
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
4,5,6,2014-01-06,Falcon 9,3325.000000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [45]:
query = """ SELECT SUM(PayLoadMass) FROM SPACEXTBL WHERE Customers='NASA (CRS)' """
df  = pd.read_sql(query, con = engine )

df

   SUM(PayLoadMass)
0           47094.7

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = """ SELECT avg(PayLoadMass) FROM SPACEXTBL WHERE Serial LIKE 'B1%' """
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [48]:
query = """ SELECT min(Date) FROM SPACEXTBL WHERE LandingOutcome='TRUE RTLS'  """
df  = pd.read_sql(query, con = engine )
df

    min(Date)
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = """ SELECT Serial FROM SPACEXTBL WHERE LandingOutcome='TRUE ASDS' and PayloadMass BETWEEN 4000 and 6000  """
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [55]:
query = """ SELECT Count(Class) FROM SPACEXTBL Group BY Class  """
df  = pd.read_sql(query, con = engine )
df

   Count(Class)
0            30
1            60

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query = """ SELECT Serial FROM SPACEXTBL WHERE PayloadMass= (SELECT max(PayloadMass) FROM SPACEXTBL) """
df  = pd.read_sql(query, con = engine )
df

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [62]:
query = """ SELECT LandingPad, Serial, Class, LaunchSite FROM SPACEXTBL WHERE Class!=1 and year(Date)=2015 """
df  = pd.read_sql(query, con = engine )
df

                 LandingPad Serial  Class    LaunchSite
0  5e9e3032383ecb761634e7cb  B1012      0  CCSFS SLC 40
1  5e9e3032383ecb761634e7cb  B1015      0  CCSFS SLC 40
2                      None  B1016      0  CCSFS SLC 40
3  5e9e3032383ecb6bb234e7ca  B1018      0  CCSFS SLC 40

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia